body {
  font-family: 'Poppins', sans-serif;
  background-color:hsl(0, 0%, 98%);
  color: hsl(234, 12%, 34%);
}

/* Header and Subtitle */

.header { 
  text-align: center;
  padding-bottom: 20px;
  margin-top: 60px;
  margin-bottom: 5px;
}

h1 {
  font-size: 28px;
  font-weight: 200;
  margin: 0;
}

h2 {
  font-size: 28px;
  font-weight: 600; 
  margin: 0;
  line-height: 1.3;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

img {
  position: relative;
  float: right;
}

.subtitle {
  font-size: 15px;
  color: hsl(229, 6%, 66%);
  
}

/* Cards */

.cards {
  display: grid;
  grid-template-columns: repeat(3,300px);
  grid-template-rows: repeat(4, auto);
  grid-gap: 15px;
  justify-content: center;
}

.supervisor_card {
 background-color: hsl(0, 0%, 100%);
 border-radius: 5px 5px 5px 5px;
 grid-area: 2/1/4/2;
 padding: 20px;
 border-top: solid 5px hsl(180, 62%, 55%);
 box-shadow: 0px 5px 15px 5px hsl(224, 33%, 91%);
}

.supervisor_card p {
  color: hsl(229, 6%, 66%);
  font-size: 13px;
}

.teambuilder_card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px 5px 5px 5px;
  grid-area: 1/2/3/3;
  padding: 20px;
  border-top: solid 5px hsl(0, 78%, 62%);
  box-shadow: 0px 5px 15px 5px hsl(224, 33%, 91%);
}

.teambuilder_card p {
  color: hsl(229, 6%, 66%);
  font-size: 13px;
}

.karma_card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px 5px 5px 5px;
  grid-area: 3/2/5/3;
  padding: 20px;
  border-top: solid 5px hsl(34, 97%, 64%);
  box-shadow: 0px 5px 15px 5px hsl(224, 33%, 91%);
}

.karma_card p {
  color: hsl(229, 6%, 66%);
  font-size: 13px;
}

.calculator_card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px 5px 5px 5px;
  grid-area: 2/3/4/4;
  padding: 20px;
  border-top: solid 5px hsl(212, 86%, 64%);
  box-shadow: 0px 5px 15px 5px hsl(224, 33%, 91%);
}

.calculator_card p {
  color: hsl(229, 6%, 66%);
  font-size: 13px;
}

/* Footer */

footer {
  padding-top: 15px;
}
.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a {
   color: hsl(228, 45%, 44%); 
}

/* Mobile Version */

@media (max-width: 375px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1,minmax(0,1fr));
    grid-template-rows: auto;
    grid-gap: 15px;
    justify-content: center;
  }

  .supervisor_card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px 5px 5px 5px;
    grid-area: 1/1/2/2;
    padding: 20px;
    margin: 15px;
    border-top: solid 5px hsl(180, 62%, 55%);
    box-shadow: 0px 5px 15px 5px hsl(224, 33%, 91%);
   }

   .teambuilder_card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px 5px 5px 5px;
    grid-area: 2/1/3/2;
    padding: 20px;
    margin: 15px;
    border-top: solid 5px hsl(0, 78%, 62%);
    box-shadow: 0px 5px 15px 5px hsl(224, 33%, 91%);
  }

  .karma_card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px 5px 5px 5px;
    grid-area: 3/1/4/2;
    padding: 20px;
    margin: 15px;
    border-top: solid 5px hsl(34, 97%, 64%);
    box-shadow: 0px 5px 15px 5px hsl(224, 33%, 91%);
  }

  .calculator_card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px 5px 5px 5px;
    grid-area: 4/1/5/2;
    padding: 20px;
    margin: 15px;
    border-top: solid 5px hsl(212, 86%, 64%);
    box-shadow: 0px 5px 15px 5px hsl(224, 33%, 91%);
  }