body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background-color:hsl(0, 0%, 98%);
}

.header { 
  text-align: center;
}

h1 {
  font-weight: 200;
}

h2 {
  font-weight: 600;
}

header p {
  font-weight: 200;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3,300px);
  grid-template-rows: repeat(4, auto);
  grid-gap: 20px;
  justify-content: center;
}

.supervisor_card {
 background-color: hsl(180, 62%, 55%);
 border-radius: 5px 5px 5px 5px;
 grid-area: 2/1/4/2 ;
}

.teambuilder_card {
  background-color: hsl(0, 78%, 62%);
  border-radius: 5px 5px 5px 5px;
  grid-area: 1/2/3/3 ;
}

.karma_card {
  background-color: hsl(34, 97%, 64%);
  border-radius: 5px 5px 5px 5px;
  grid-area: 3/2/5/3 ;
}

.calculator_card {
  background-color: hsl(212, 86%, 64%);
  border-radius: 5px 5px 5px 5px;
  grid-area: 2/3/4/4 ;
}